{% extends "base.twig" %}

{% block content %}

	<div class="container">
		<div class="content-wrapper">
			<div class="row justify-content-center">
				<div class="col-12 py-3 text-center">
					<a href="{{ page_for_posts_link }}" class="text-secondary text-decoration-none">&larr; Back to {{ page_for_posts_title }}</a>
				</div>
				<div class="col-12 col-md-6 mt-1 pt-1 pb-3">
					<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
						<img class="img-fluid" src="{{ post.thumbnail.src|resize(1200, 300) }}">
						<section class="article-content">
							<h1 class="article-h1 text-center">{{ post.title }}</h1>
							<div class="article-body">
								{{post.content}}
							</div>
						</section>
					</article>
				</div>
			</div>
		</div><!-- /content-wrapper -->
	</div>

{% endblock %}
