<section class="before-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">

        {% if before_footer_section.0.button %}
          <a class="btn btn-secondary rounded-none" href="{{ before_footer_section.0.button.url }}" target="{{ before_footer_section.0.button.target ? '_self' : '_blank' }}">{{ before_footer_section.0.button.title }}</a>
        {% endif %}

        {% if before_footer_section.1.button %}
          <a class="btn btn-tertiary rounded-none" href="{{ before_footer_section.1.button.url }}" target="{{ before_footer_section.1.button.target ? '_self' : '_blank' }}">{{ before_footer_section.1.button.title }}</a>
        {% endif %}

      </div>
    </div>
  </div>
</section>
