{# 32 x 9 ratio #}
<figure class="hero-area m-0 position-relative d-flex align-items-center">
  <picture>
      <source media="(min-width: 800px)" srcset="{{ post.thumbnail.src | resize(1280, 360, 'top') }} 1200w">
      <source media="(min-width: 450px)" srcset="{{ post.thumbnail.src | resize(800, 300, 'top') }} 600w">
      <source srcset="{{ post.thumbnail.src | resize(800, 300, 'top') }}">
      <img loading="lazy" class="hero-area--img img-fluid w-100"
      src="{{ post.thumbnail.src | resize(800, 300, 'top') }}"
      alt="{{ post.thumbnail.alt ?: post.thumbnail.title }}">
  </picture>
  {% if post.hero_area_content %}
    <div class="position-absolute w-100">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            {{ post.hero_area_content }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</figure>

