{% if menu %}


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="list-unstyled text-center m-0 p-0 d-flex">
			{% for item in menu %}
				<li class="nav-item flex-fill m-0 h5 {% if item.children %}dropdown{% endif %} {{ item.classes | join(' ') }}">
					<a class="nav-link d-block p-3 text-center text-white text-decoration-none {% if item.children %}dropdown-toggle{% endif %}" target="{{ item.target }}" href="{{ item.link }}" {% if item.children %}id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"{% endif %}>{{ item.title }}</a>
					{% if item.children %}
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for child in item.children %}
								<li class="m-0 h6"><a class="dropdown-item d-block p-3 text-white" target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>

{% endif %}

