<!-- Slider main container -->
<section class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        {% for slide in slider %}

            <!-- Slides -->
            <div class="swiper-slide">
                <img class="d-none d-lg-block swiper-slide--img card-img"  src="{{ Image(slide).src }}" alt="{{ Image(slide).alt ?: Image(slide).title }}">
                <div class="swiper-slide--img-overlay d-flex flex-column  justify-content-center">
                    <div class="p-5 ps-lg-5 ms-2 ms-lg-5">
                        <h2 class="card-title text-secondary">{{ slide.title }}</h2>
                        <p class="card-text lead fw-normal">{{ slide.text }}</p>
                        <a class="btn btn-lg btn-outline-secondary" href="{{ slide.cta.url }}"">{{ slide.cta.title }}</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</section>